@{
    ViewBag.Title = "MenuForm";
    Layout = "~/Views/Shared/_FormLayoutPage.cshtml";
}
<!--上传图片-->
<link href='@Url.Content("~/Script/Common/uploadify/uploadify.css")' rel="stylesheet" type="text/css" />
<script src='@Url.Content("~/Script/Common/uploadify/jquery.uploadify.min.js")' type="text/javascript"></script>
@model sct.dto.uc.MenuInfo
@using (Html.BeginForm("SaveMenu", "SysMgr", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <div class="portlet box  blue">
        <div class="portlet-title">
            <div class="caption">菜单编辑</div>
        </div>
        <div class="portlet-body form">
            <div class="control-group">
                <label class="control-label">编码 @Html.Hidden("Id", Model.Id)</label>
                <div class="controls">@Html.TextBoxFor(x => x.MenuCode, new { placeholder = "编码", @class = "m-wrap medium" })</div>
            </div>
            <div class="control-group">
                <label class="control-label">菜单名称</label>
                <div class="controls">@Html.TextBoxFor(x => x.MenuName, new { placeholder = "菜单名称", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">上级菜单</label>
                <div class="controls">@Html.DropDownListFor(x => x.ParentId, sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicMenu as List<sct.cm.data.ChooseDictionary>, 1, true, "根目录"))      </div>
            </div>
            <div class="control-group">
                <label class="control-label">所在应用</label>
                <div class="controls">@Html.DropDownListFor(x => x.AppId, sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicApp as List<sct.cm.data.ChooseDictionary>, 1, false))             </div>
            </div>
            <div class="control-group">
                <label class="control-label">菜单图标</label>
                <div class="controls">
                    <div>@Html.TextBoxFor(x => x.MenuIcon, new { @style = "display:none;" })
                        <div id="prevMenuIcon">
                            <img id="curMenuIcon" style="width: 120px; height: 80px" src="@Model.MenuIcon" />
                        </div>
                        <input type="file" id="file_upload_MenuIcon" name="file_upload_MenuIcon" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否叶子</label>
                <div class="controls">
                    <label class="radio">@Html.RadioButton("IsLeaf", 1, Model.IsLeaf == 1) 是</label>
                    <label class="radio">@Html.RadioButton("IsLeaf", 0, Model.IsLeaf == 0) 否</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">菜单路径</label>
                <div class="controls">@Html.TextBoxFor(x => x.MenuPath, new { placeholder = "菜单路径", @class = "m-wrap medium" })</div>
            </div>
            <div class="control-group">
                <label class="control-label">排序</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.SYS_OrderSeq, new { placeholder = "0", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 1, Model.SYS_IsValid == 1) 启用 </label>
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 0, Model.SYS_IsValid == 0)  失效  </label>
                </div>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <input type="submit" id="btnSave" value="提交" class="btn blue" /><input type="button" value="取消" onclick="javascript: window.close();" class="btn blue" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#file_upload_MenuIcon').uploadify({
            'swf': '@Url.Content("~/Script/Common/uploadify/uploadify.swf")',
            'uploader': '@Url.Content("~/UploadHandler/UploadImage")',
            'buttonText': '点击浏览图片',
            'multi': false,//多文件上传
            //'uploadLimit': 2,//允许上传文件的个数
            //'queueSizeLimit': 3,//同时上传的文件
            'fileTypeDesc': '请选择图片，仅支持格式JPG,BMP,PNG,GIF，最大4M',
            'fileTypeExts': '*.JPG;*.GIF;*.PNG;*.BMP;',
            'onUploadSuccess': function (file, data, response) {//上传完成时触发（每个文件触发一次
                if (response == true) {//如果服务器返回200表示成功
                    var obj = JSON.parse(data);
                    if (obj.IsSuccess) {
                        $("#curMenuIcon").attr("src", obj.JsonData);
                        $("[name='MenuIcon']").val(obj.JsonData);
                    }
                    else {
                        alert(obj.Message);
                    }

                } else {
                    alert('上传失败', 'e');
                }
            },
            'onUploadError': function (file, data, response) {
                alert('上传失败', 'e');
            }
        })
    });
</script>
