@{
    ViewBag.Title = "DepartmentForm";
    Layout = "~/Views/Shared/_FormLayoutPage.cshtml";
}
@model sct.dto.uc.DepartmentInfo
@using (Html.BeginForm("SaveDepartment", "CorpMgr", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <div class="portlet box  blue">
        <div class="portlet-title">
            <div class="caption">编辑部门资料</div>
        </div>
        <div class="portlet-body form">
            <div class="control-group">
                <label class="control-label">
                    部门编码 @Html.Hidden("Id", Model.Id)</label>
                <div class="controls">@Html.TextBoxFor(x => x.DepartmentCode, new { placeholder = "部门编码", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">部门名称</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.DepartmentName, new { placeholder = "部门名称", @class = "m-wrap medium" })
                </div>
            </div>
             <div class="control-group">
                <label class="control-label">所属公司</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.CompanyId, sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicCompany as List<sct.cm.data.ChooseDictionary>, 1, false))
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">上级分类</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.ParentId, sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicDepartment as List<sct.cm.data.ChooseDictionary>, 1, true, "--根目录--"))
                </div>
            </div>           
            <div class="control-group">
                <label class="control-label">排序</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.SYS_OrderSeq, new { placeholder = "0", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 1, Model.SYS_IsValid == 1) 启用 </label>
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 0, Model.SYS_IsValid == 0)  失效  </label>
                </div>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <input type="submit" id="btnSave" value="提交" class="btn blue" /><input type="button" value="取消" onclick="javascript: window.close();" class="btn blue" />
            </div>
        </div>
    </div>
}